--- 
--- 

body {
  background-color:white;
  font-size: 1.2rem;
}

$font_color: black;
$dark_blue: #050050;
$yellow: #d7d26a;
// $light_yellow: #e7db87;


* {
  font-family: "Montserrat", sans-serif;
  color: $font_color;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal;
}

// a {
//   color: $font_color;
//   text-decoration: none;
//   font-size: 1.2rem;
//   font-weight: 500;

//   &:hover {
//     color: $dark_blue;
//     transition: 0.4s;
//     text-decoration: underline;
//   }
// }

// .footer a {
//   color: $font_color;
//   text-decoration: none;
//   font-size: 1.2rem;
//   font-weight: 500;

//   &:hover {
//     color: $dark_blue;
//     transition: 0.4s;
//   }
// }

.mobile {
  display: none;
}

@media (max-width: 650px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0 !important;

  @media (max-width: 810px) {
    font-size: 2.2rem;
  }

  @media (max-width: 760px) {
    font-size: 2rem;
  }

  @media (max-width: 375px) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2rem;

  @media (max-width: 400px) {
    font-size: 1.7rem;
  }
}

// h3 {
//   font-size: 1.7rem;
//   padding-bottom: 1.7rem;
// }

// h4 {
//   font-size: 1.5rem;
//   padding-bottom: 0.7rem;
//   margin-bottom: 0.3rem;
// }

// h5 {
//   font-size: 1.35rem;
//   margin-bottom: 0.3rem;
// }

// p {
//   font-size: 1.2rem;
//   margin-bottom: 0.5rem;
// }

// ul {
//   padding-left: 1.2rem;
// }

// li {
//   padding-bottom: 0.5rem;
// }

// .container {
//   max-width: 52rem;

//   @media (max-width: 1000px) {
//     max-width: 48rem;
//   } 
//   @media (max-width: 850px) {
//     max-width: 80%;
//   }    
// }

.btn {
  background-color: $yellow;
  font-weight: bold;
  color: black;
}

.hero-btn:hover {
  background-color: black !important;
  color: $yellow !important;
  transition: background-color .15s ease-in-out;
}

.hero-btn:focus {
  background-color: black !important;
  color: $yellow !important;
  transition: background-color .15s ease-in-out;
}

.toggle-btn {
  background-color: $yellow;
  width: min-content;
  border-radius: 1rem;
  margin-bottom: 1rem;

  @media (max-width: 650px) {
    margin-bottom: 0;
    margin-right: 1rem;
  }

  @media (max-width: 370px) {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}

.filter-buttons {
  flex-direction: column;

  @media (max-width: 650px) {
    flex-direction: row;
  }
}

.btn:focus {
  box-shadow: none !important;
  font-weight: bold;
}

.navbar {
  align-items: flex-start;
}

.mobile-justify {
  @media (max-width: 650px) {
    justify-content: center !important;
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}

.top-nav {
  padding: 1rem 1.5rem !important;
  flex-direction: row;

  @media (max-width: 750px) {
    padding: 0.7rem 1rem !important;
  }

  @media (max-width: 650px) {
    background-color: $yellow;
    z-index: 1;
    flex-direction: column;
  }

  @media (max-width: 380px) {
    padding: 0.7rem 0.5rem !important;
  }
}

.mobile-width {
  @media (max-width: 650px) {
    width: 100% !important;
  }
}

.mobile-col-1 {
  @media (max-width: 650px) {
    flex: 0 0 auto !important;
    width: 8.33333333% !important;
  }
}

.mobile-col-8 {
  @media (max-width: 650px) {
    flex: 0 0 auto !important;
    width: 66.66666667% !important;
  }
}

.middle-top-nav {
  @media (max-width: 650px) {
    padding-top: 0.6rem;
    justify-content: center !important;
  }
}

.bottom-nav {
  padding: 0 1.5rem !important;

  @media (max-width: 750px) {
    padding: 0 1rem !important;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1rem!important;
  }

  @media (max-width: 380px) {
    padding: 0.5rem !important;
  }
}

// .nav-item p {
//   color: black !important;
//   margin-bottom: 0;

//   @media (max-width: 930px) {
//     padding-left: 1.5rem !important;
//     padding-right: 1.5rem !important;
//   } 
  
//   @media (max-width: 576px) {
//     padding-left: 1rem !important;
//     padding-right: 1rem !important;
//   }
// }

.title-search:placeholder-shown {
  width: 0;
}

.title-search {
  display: block;
  width: 16rem;
  height: 2.2rem;
  padding: .5rem 0 .5rem 2.6rem;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5;
  color: black;
  background-color: $yellow;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px solid black;
  border-radius: 1rem;
  -webkit-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-out;
}

.title-search:focus-visible{
  outline: -webkit-focus-ring-color auto 0px !important;
  border: 2px solid black;
  width: 16rem;
}

.title-search::placeholder {
 color: black;
 font-size: 0.85rem;
 font-weight: 300;
 opacity: 0.5;
 font-style: italic;
}

.search {
  @media (max-width: 650px) {
    position: relative;
    left: -1.3rem;
  }
}

.search:hover > .title-search {
  width: 16rem;
}

.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2.6rem;
  z-index: 11;
  background-color: $yellow;
  width: 2.4rem;
  height: 1.9rem;
  padding-right: 0.2rem;
  border-radius: 1rem;
}

.bi-search {
  -webkit-text-stroke: 1px black;
}

.mobile-search-pad {
  @media (max-width: 650px) {
    padding: 0.5rem !important;
  }
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
//   font-family: "Source Serif 4", serif;
//   color: $font_color;
//   font-weight: normal;
//   font-optical-sizing: auto;
//   font-style: normal;
//   letter-spacing: .1rem;
}

.hero-item {
  position: relative;
  z-index: 10;
}

.profile-btn {
  padding: 0.5rem 0.5rem !important;
}

.profile-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("{{ site.images.profile }}");
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.profile-btn:hover > .profile-icon {
  filter: invert(86%) sepia(21%) saturate(947%) hue-rotate(9deg) brightness(98%) contrast(84%);
  transition: filter .15s ease-in-out;
}

.profile-btn:focus {
  background-color: black;
  transition: background-color .15s ease-in-out;
}

.profile-btn:focus > .profile-icon {
  filter: invert(86%) sepia(21%) saturate(947%) hue-rotate(9deg) brightness(98%) contrast(84%);
  transition: filter .15s ease-in-out;
}

// @mixin section($bg: white) {
//   background-color: $bg;
//   padding-top: 3.5rem;
//   padding-bottom: 3rem;
// }

// .footer {
//   @include section;
//   text-align: center;
//   padding-bottom: 1rem !important;
// }

// .footer .col {
//   flex: 0 0 auto;
//   width: 8rem; 
// }

#map {     
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

// .popupCustom .leaflet-popup-tip,
// .popupCustom .leaflet-popup-content-wrapper {
//   font-family: "Montserrat", serif;
//   font-optical-sizing: auto;
//   font-style: normal;
// }