--- 
--- 

body {
  background-color:white;
  font-size: 1.2rem;
}

$font_color: black;
$dark_blue: #050050;
$yellow: #d7d26a;
$light_yellow: #e7db87;

* {
  font-family: "Source Serif 4", serif;
  color: $font_color;
  font-weight: normal;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: .1rem;
}

a {
  color: $font_color;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: $dark_blue;
    transition: 0.4s;
    text-decoration: underline;
  }
}

.footer a {
  color: $font_color;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: $dark_blue;
    transition: 0.4s;
  }
}

.mobile, .tablet {
  display: none;
}

@media (max-width: 576px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (max-width: 850px) {
  .no-tablet {
    display: none;
  }

  .tablet {
    display: block;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0 !important;

  @media (max-width: 400px) {
    font-size: 2.1rem;
  }
}

h2 {
  @media (max-width: 400px) {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

h4 {
  font-size: 1.5rem;
  padding-bottom: 0.7rem;
  margin-bottom: 0.3rem;
}

h5 {
  font-size: 1.35rem;
  margin-bottom: 0.3rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1.2rem;
}

li {
  padding-bottom: 0.5rem;
}

.container {
  max-width: 52rem;

  @media (max-width: 1000px) {
    max-width: 48rem;
  } 
  @media (max-width: 850px) {
    max-width: 80%;
  }    
}

.btn:focus, .navbar-toggler:focus {
  box-shadow: none !important;
  font-weight: bold;
}

.navbar {
  align-items: flex-start;
}

.top-nav {
  background-color: $yellow;
  padding: 1.5rem !important;
}

.bottom-nav {
  background-color: $light_yellow;
  padding: 0.5rem !important;
}

.navbar-collapse {
  padding-top: 1rem;
}

.nav-item p {
  color: black !important;
  margin-bottom: 0;

  @media (max-width: 930px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  } 
  
  @media (max-width: 576px) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.nav-item p:hover,
.nav-item p:focus {
  cursor: pointer;
  color: $dark_blue !important;
  transition: all 0.2s ease;
}

.title-search {
  width: 70% !important;
  max-width: 250px;
  height: 1.5rem;
  margin-right: 1rem;
  border-radius: 1rem;
}

.search-pad-top {
  padding-top: 0.3rem;
}

.hero {
  padding-bottom: 8rem;
}

.hero img {
  width: 4rem;
  margin-right: 0.5rem;
}

.navbar-light .navbar-toggler {
  color: #000000 !important;
  border-color: rgba($color: #000000, $alpha: 0) !important;
}

.navbar-toggler {
  padding: 0.5rem 0.5rem !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("{{ site.images.profile }}") !important;
  width: 2rem !important;
  height: 2rem !important;
}

@mixin section($bg: white) {
  background-color: $bg;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

.footer {
  @include section;
  text-align: center;
  padding-bottom: 1rem !important;
}

.footer .col {
  flex: 0 0 auto;
  width: 8rem; 
}

#map {     
  width: 100vw;
  height: 100vh;
}